<html>

<head>
    <meta charset="UTF-8">
    <title>Logic-Maker</title>

    <script src="Lib/Vue/vue.js"></script>

    <link rel="stylesheet" href="Lib/xel/material.css">
    <script src="Lib/xel/xel.min.js"></script>
    <link rel="stylesheet" href="Lib/CodeMirror/lib/codemirror.css">
    <link rel="stylesheet" href="Lib/CodeMirror/theme/dracula.css">
    <script src="Lib/CodeMirror/lib/codemirror.js"></script>
    <script src="Lib/CodeMirror/mode/javascript/javascript.js"></script>
    <script src="Lib/CodeMirror/mode/lua/lua.js"></script>

    <script src="Lib/SweetAlert/sweetalert2.all.js"></script>
    <!--Include Blockly-->
    <script src="blockly/blockly_compressed.js"></script>
    <script src="blockly/blocks_compressed.js"></script>
    <script src="blockly/javascript_compressed.js"></script>
    <script src="blockly/lua_compressed.js"></script>
    <script src="blockly/msg/js/en.js"></script>

</head>

<style>
    * {
        padding: 0;
        border: 0;
        margin: 0;
    }

    @font-face {
        font-family: firacode;
        src: url(./Lib/CodeMirror/FiraCode-Regular.ttf);
    }

    .CodeMirror {
        font-family: firacode;
        height: 100%;
    }

    .DialogInput {
        height: 30px;
        line-height: 30px;
    }

    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>

<body style="background: white;height: 100vh;">

    <xml id="toolboxJS" style="display: none">

        <category name="Basic Control" colour="%{BKY_LOGIC_HUE}">
            <block type="controls_if"></block>
            <block type="controls_whileUntil"></block>
            <block type="controls_for"></block>
            <block type="logic_compare"></block>
            <block type="logic_operation"></block>
            <block type="logic_boolean"></block>
        </category>
        <category name="Level Construct" colour="%{BKY_LOOPS_HUE}">
            <block type='level'></block>
        </category>
        <category name="Common Api" colour="%{BKY_MATH_HUE}">
            <block type='comment'></block>
            <block type='log'></block>
            <block type='warning'></block>
            <block type='error'></block>
            <block type="wait_for_seconds"></block>
        </category>
        <category name="Dialog System" colour="%{BKY_LISTS_HUE}">
            <block type='dialog_block'></block>
            <block type="block_start"></block>
            <block type="say"></block>
            <block type="options"></block>
            <block type="option"></block>
        </category>
        <category name="Data Types" colour="%{BKY_LISTS_HUE}">
            <block type="text"></block>
        </category>
        <category name="Variables" custom="VARIABLE" colour="%{BKY_VARIABLES_HUE}"></category>
        <category name="Functions" custom="PROCEDURE" colour="%{BKY_PROCEDURES_HUE}"></category>
    </xml>

    <xml id="toolboxLUA" style="display: none">

        <category name="Basic Control" colour="%{BKY_LOGIC_HUE}">
            <block type="controls_if"></block>
            <block type="controls_whileUntil"></block>
            <block type="controls_for"></block>
            <block type="logic_compare"></block>
            <block type="logic_operation"></block>
            <block type="logic_boolean"></block>
        </category>
        <!-- <category name="Level Construct" colour="%{BKY_LOOPS_HUE}">
            <block type='level'></block>
        </category> -->
        <category name="Common Api" colour="%{BKY_MATH_HUE}">
            <!-- <block type='comment'></block> -->
            <block type='log'></block>
            <block type='warning'></block>
            <block type='error'></block>
            <block type="wait_for_seconds"></block>
            <block type="setsoundpath"></block>
            <block type="playbgm"></block>
            <block type="playcv"></block>
            <block type="playcv_cb"></block>
            <block type='playtimeline'></block>
            <block type='playtimeline_cb'></block>
            <block type="showtitle"></block>
        </category>
        <category name="Lists" colour="%{BKY_LISTS_HUE}" _mstmutation="1">
            <block type="lists_create_empty"></block>
            <block type="lists_create_with"></block>
            <block type="lists_repeat">
                <value name="NUM">
                    <block type="math_number">
                        <field name="NUM">5</field>
                    </block>
                </value>
            </block>
            <block type="lists_length"></block>
            <block type="lists_isEmpty"></block>
            <block type="lists_indexOf"></block>
            <block type="lists_getIndex"></block>
            <block type="lists_setIndex"></block>
        </category>
        <category name="Variables" custom="VARIABLE" colour="%{BKY_VARIABLES_HUE}"></category>
        <category name="Functions" custom="PROCEDURE" colour="%{BKY_PROCEDURES_HUE}"></category>
    </xml>

    <div style="width: 100%;height: 40px;">
        <x-menubar>
            <x-menuitem>
                <x-label>File</x-label>

                <x-menu>

                    <x-menuitem onclick="NewFile()">
                        <x-label>New File</x-label>
                    </x-menuitem>

                    <hr>

                    <x-menuitem onclick="OpenFile()">
                        <x-label>Open File</x-label>
                    </x-menuitem>

                    <hr>

                    <x-menuitem onclick="SaveFile()">
                        <x-label>Save File</x-label>
                        <x-shortcut value="Control+S"></x-shortcut>
                    </x-menuitem>
                </x-menu>
            </x-menuitem>

            <x-menuitem onclick="SwitchState()">
                <x-label>JS/Lua</x-label>
            </x-menuitem>

            <x-menuitem>
                <x-label>Help</x-label>
                <x-menu>
                    <x-menuitem>
                        <x-icon name="help"></x-icon>
                        <x-label>Documentation</x-label>
                    </x-menuitem>
                </x-menu>
            </x-menuitem>
        </x-menubar>

    </div>
    <div>
        <div id="JSAPP" style="display: block;">

            <div style="width: 100%;height: calc( 100vh - 40px ) ;">
                <div style="height: 100%; width: 10vw;float: left;background-color: rgba(231, 228, 223, 0.753);">
                    <ul>

                        <x-menuitem onclick="GenJS()">
                            <x-label>Gen JS</x-label>
                        </x-menuitem>

                        <x-menuitem onclick="ClearErrJS()">
                            <x-label>Clear Error</x-label>
                        </x-menuitem>

                    </ul>
                </div>

                <div style="height: 100%; width: 50vw;float: left;position: relative;">
                    <div id="blocklyAreaJS" style="height: 100%; width: 100%;"></div>
                    <div id="jsSearch"
                        style="position:absolute;top: 30px;right: 10px;z-index: 99;background-color: rgba(255, 255, 255, 0);">
                        <input @input="valueChange()" @focus="valueChange()" v-model="searchText" type="text" />

                        <x-menu v-if="menuShow" opened style="z-index: 99;width: 100%;padding: 0px;">
                            <x-menuitem v-for="tag in menuTags" :key="tag" @click="clickMenu(tag)">
                                <x-label>{{tag}}</x-label>
                            </x-menuitem>
                        </x-menu>
                    </div>
                </div>



                <div id="blocklyDivJS" style="position: absolute;"></div>
                <div style="height: 100%; width: calc( 100% - 60vw ) ;float: left;">
                    <div id="containerJS" style="width: 100%;height: calc( 100% - 100px );"></div>
                    <p id="err-listJS" style="width: 100%;height: 100px;background-color: black;color: rgb(255, 0, 0);">
                    </p>
                </div>
            </div>
        </div>

        <div id="LUAAPP" style="display: none;">
            <div style="width: 100%;height: calc( 100vh - 40px ) ;">
                <div style="height: 100%; width: 10vw;float: left;background-color: rgba(231, 228, 223, 0.753);">
                    <ul>

                        <x-menuitem onclick="GenLUA()">
                            <x-label>Gen LUA</x-label>
                        </x-menuitem>

                        <x-menuitem onclick="ClearErrLUA()">
                            <x-label>Clear Error</x-label>
                        </x-menuitem>

                    </ul>
                </div>
                <div style="height: 100%; width: 50vw;float: left;position: relative;">
                    <div id="blocklyAreaLUA" style="height: 100%; width: 100%;"></div>
                    <div id="luaSearch"
                        style="position:absolute;top: 30px;right: 10px;z-index: 99;background-color: rgba(255, 255, 255, 0);">
                        <input @input="valueChange()" @focus="valueChange()" v-model="searchText" type="text" />

                        <x-menu v-if="menuShow" opened style="z-index: 99;width: 100%;padding: 0px;">
                            <x-menuitem v-for="tag in menuTags" :key="tag" @click="clickMenu(tag)">
                                <x-label>{{tag}}</x-label>
                            </x-menuitem>
                        </x-menu>
                    </div>
                </div>
                <div id="blocklyDivLUA" style="position: absolute;"></div>
                <div style="height: 100%; width: calc( 100% - 60vw ) ;float: left;">
                    <div id="containerLUA" style="width: 100%;height: calc( 100% - 100px );"></div>
                    <p id="err-listLUA"
                        style="width: 100%;height: 100px;background-color: black;color: rgb(255, 0, 0);"></p>
                </div>
            </div>
        </div>

    </div>

    <script src="SRC/js/DialogueUtil.js"></script>
    <script src="./SRC/js/index.js"></script>
    <script src="SRC/js/custom-dialog.js"></script>
    <script src="SRC/js/custom_blocks.js"></script>

    <script src="SRC/js/custom_blocks_js.js"></script>
    <script src="SRC/js/custom_blocks_lua.js"></script>
    <script src="SRC/js/file.js"></script>
    <script src="SRC/js/Search.js"></script>
</body>

</html>